body {
    max-width: 515px;
    margin: auto;
    font-family: arial, sans-serif;
}

h1 {
    text-align: center;;
}

.calculator-frame {
border-style: solid;
border-width: 5px;
border-radius: 0.01;
}

button {
    font-family: arial, sans-serif;
    font-size: 80px;
    min-width: 90px;
    min-height: 90px;
    margin: 5px;
}

.calculator-display {
    border-style: solid;
    border-width: 5px;
    min-height: 90px;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    text-align: right;
    padding: 0 5px;
}

.calculator-buttons {
    margin: 5x;
    display: flex;
}

.numbers {
    display: grid;
    grid-template-columns: auto auto auto;
}

#equal {
    min-width: 195px;
}